registry=https://registry.npmjs.org/
@mo:registry=https://portal.modusoperandi.com/nexus/repository/npm-internal/
//portal.modusoperandi.com/nexus/repository/npm-internal/:_authToken=${NPM_AUTH_TOKEN}